.App {
  position: relative;
  margin: 0 auto;

  /* extra style to center the content */
  display: flex;
  align-items: center;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.6;
  background-image: url("./img/bg-picture.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.App .container {
  max-width: 960px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.App .bg-style {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.App-footer {
  text-align: center;
}
