.Dictionary h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

.logo {
  max-width: 75%;
  height: 75%;
  margin: 0 auto;
}

.input-str {
	border-radius: 6px;
	border: 1px solid #ddd;
	color: #333;
	font-weight: 800;
}

.input-btn {
		font-weight: 800;

}
